argparse
black
flake8
GitPython
h5py
isort
m2r2
matplotlib
nibabel
notebook
numpy
pandas
pre-commit
pydocstyle
pydot
pylint
pytest
pytest-cov
pytest-dependency
pyyaml
scipy
seed-isort-config
sphinx
sphinx-notfound-page
sphinx-rtd-theme
sphinx-tabs
tabulate
tensorboard_plugin_profile
tensorflow==2.9.0
testfixtures
tox
tqdm
